
{% extends 'layout.html' %}
{% load static %}

{% block head %}
		{{block.super}}
{% endblock %}


{% block content %}

    <h1>Legg til allergi</h1>
<form method="POST" id="add-allergoes" class="add-allergoes-form">
    {% csrf_token %}
    {% for i in object_list %}

        <div class="form-check">
            {% if i.navn in allergiesList %}
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name = {{ i.innholdid }} checked>
            {% else %}
            <input class="form-check-input" type="checkbox" value="" id="flex" name = {{ i.innholdid }}>
            {% endif %}
            {{ i.navn }}
            </label>
        </div>

    {% endfor %}



    <input type="submit" value="Legg til">
</form>



{% endblock %}


