{% extends 'layout.html' %}

{% load static %}

{% block head %}

    {{ block.super }}

    <link rel="stylesheet" href="{% static 'CSSDocs/chooseMeal.css' %}">

    <script type="text/javascript">
        function validateCancel() {
            if(confirm("Er du sikker på at du vil avlyse middagen?")) {
              return true;
            } else {
              return false;
            }

        }
    </script>

{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="meal-meta-card">
            <div class="meal-img">
                <!-- Add django code for loading actual image -->
                <!-- <img src="{{ meal_img }}" alt=""> -->
            </div>
            <div class="meal-meta-info">
                <h1 id="meal-title">
                    {{ dinner.name }}
                </h1>
                <p id="meal-description">
                    {{ dinner.description }}
                </p>
                <p id="meal-date">
                    {{ dinner.date }}
                </p>
                <h3 id="meal-address">
                     {{ dinner.location }}
                </h3>
                <p id="meal-capacity">
                    Totale plasser: {{ dinner.capacity }}, ledige: {{ available }}
                </p>
                <p id="meal-price">
                    Middagskostnad: {{ dinner.cost }} kr
                </p>
                {% if in_dinner %}
                    <p id ="price-per-guest">
                            Kostnad per gjest : {{guest_price}} kr
                    </p>
                {% endif %}

                {% if checkLen %}

                    <p>Denne middagen har ingen allergier som du må passe på</p>

                {% else %}
                    <p>Hvis du har følgende allergier bør du ikke melde deg på middagen:</p>
                {% endif %}

                {% for allergy in allergiesInDinner %}
                    <p>{{allergy}}</p>
                {% endfor %}

                {% if dinner.is_cancelled == 0 %}
                    {% if is_owner == False %}
                    <form method="POST" >

                        {% csrf_token %}
                            {% if in_dinner %}
                                <input type="submit" name = "book_dinner" class="btn btn-primary" id="off_dinner" value="Meld meg av"></input>

                            {% else %}
                                {% if available > 0 %}
                                    <input type="submit" name = "book_dinner" class="btn btn-primary" id="in_dinner" value="Meld meg på"></input>
                                {% else %}
                                    <p>Middagen er full</p>
                                {% endif %}
                            {% endif %}

                    </form>
                    {% endif %}
                    {% if is_owner == True or admin_user == True %}
                        <button onclick="location.href= '{% url 'editMeal' event_id=dinner.event_id %}' ", name = "edit_dinner" class="btn btn-primary" id="in_dinner" >Rediger middag</button>

                        <form method = "POST" onsubmit="return validateCancel()">
                             {% csrf_token %}
                             <input type="submit" name = "cancel_dinner" class="btn btn-primary" id="in_dinner" value="Avlys"></input>
                        </form>

                    {% endif %}
                {% elif dinner.is_cancelled == 1 %}
                    <h3>Middagen er avlyst!</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
