{% extends 'layout.html' %}

{% load static %}

{% block head %}

    {{ block.super }}

    <link rel="stylesheet" href="{% static 'CSSDocs/newMeal.css' %}">
    <link rel="stylesheet" href="{% static 'CSSDocs/registerUser.css' %}">

{% endblock %}

{% block content %}

<h1 class="middag">Rediger middag</h1>
<div class="container">
    <div class="signup-content">
        <form method="POST" id="new_arrangement_form" class="new_arrangement_form" name="new_arrangement_form">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    <label for="arrangement_name">Arrangementnavn</label>
                    <input type="text" class="form-input" name="arrangement_name" id="arrangement_name" value = "{{ dinner.name }}" />
                </div>
                <div class="form-group">
                    <label for="description">Beskrivelse</label>
                    <input type="text" class="form-input" name="description" id="description"  value = "{{ dinner.description }}"/>
                </div>
            </div>


            <div>
                <div class="form-group">
                    <label for="seats">Antall plasser</label>
                    <input type="number" class="form-input" name="seats" id="seats" value = "{{ dinner.capacity }}"/>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group">
                    <label for="location">Lokasjon</label>
                    <input type="" class="location" name="location" id="location" value = "{{ dinner.location }}"/>
                </div>
                <div class="form-group form-icon">
                    <label for="prize">Kostnad</label>
                    <input type="number" class="form-input" name="prize" id="prize" value = "{{ dinner.cost }}">
                </div>

            </div>


            <div class="form-row">
              <div class="form-group">
                  <label for="date">Dato</label>
                  <input type="date" class="form-input" name="date" id="date" value = "{{date}}"/>
              </div>
              <div class="form-group">
                  <label for="time">Tidspunkt</label>
                  <input type="time" class="form-input" name="time" id="time" value = "{{time}}"/>
              </div>
            </div>

            {% for allergy in allergens %}

            {% if allergy.name in event_ingredients_name %}
            <input type="checkbox" id="allergies-{{allergy.ingredient_id}}" name={{allergy.ingredient_id}} value={{allergy.ingredient_id}} checked>
            <label for="allergies-{{allergy.ingredient_id}}"> {{allergy.name}} </label><br>

            {% else %}
            <input type="checkbox" id="allergies-{{allergy.ingredient_id}}" name={{allergy.ingredient_id}} value={{allergy.ingredient_id}}>
            <label for="allergies-{{allergy.ingredient_id}}"> {{allergy.name}} </label><br>

            {% endif %}
            {% endfor %}

            <div class="form-group">
                <input type="submit" name="submit" id="submit" class="form-submit" value="Submit" />
            </div>
        </form>
    </div>
</div>




{% endblock %}
