{% extends 'layout.html' %}
{% load static %}
{% block head %}
	{{block.super}}
<link rel="stylesheet" href="{% static 'CSSDocs/frontpage.css' %}">
{% endblock %}
{% block content %}

<h1 name = "headline">Velkommen til MatBit</h1>

<div class="post-container">
    <div class="post-thumb">
		<img src="https://previews.123rf.com/images/dolgachov/dolgachov1802/dolgachov180201157/95428252-group-of-people-eating-at-table-with-food.jpg" />
	</div>
    <div class="post-content">
        <h3 class="post-title">  </h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultrices auctor vulputate. Curabitur turpis ante, efficitur nec ligula sit amet, eleifend ullamcorper mi. Etiam ut purus nec elit pulvinar vulputate. Cras est dolor, eleifend id sollicitudin vel, consectetur sit amet turpis. Donec gravida, nunc vitae dictum pharetra, libero nulla dapibus est, at hendrerit justo eros non urn </p>
			<div class = "button-style">
				<button type="button"> Registrer deg her </button>
			</div>
	</div>

{% endblock %}


