{% load static %}
<html lang="en">

    <head>
        {% block head %}
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'CSSDocs/layout.css' %}">
        {% endblock %}
    </head>
    <body>
        {% if site_logged_in == False %}
            <nav class="navbar navbar-inverse navbar-logged_out">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" onclick="location.href='{% url 'frontpage' %}'">MatBit</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class=""><a onclick="location.href='{% url 'frontpage' %}'"><span class="glyphicon glyphicon-frontpage">Hjem</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a onclick="location.href= '{% url 'register' %}'"><span class="glyphicon glyphicon-user"></span> Registrer Bruker</a></li>
                        <li><a onclick="location.href= '{% url 'login' %}'"><span class="glyphicon glyphicon-log-in"></span> Innlogging</a></li>
                    </ul>
                </div>
            </nav>
        {% elif site_logged_in == True %}
            <nav class="navbar navbar-inverse navbar-logged_in">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" onclick="location.href='{% url 'frontpage' %}'">MatBit</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class=""><a onclick="location.href='{% url 'frontpage' %}'"><span class="glyphicon glyphicon-frontpage">Hjem</a></li>
                        <li class=""><a onclick="location.href='{% url 'profile' %}'"><span class="glyphicon glyphicon-profile">Profil</a></li>
                        <li class=""><a onclick="location.href='{% url 'newMeal' %}'"><span class="glyphicon glyphicon-profile">Ny Middag</a></li>
                        <li class=""><a onclick="location.href='{% url 'mealOverview' %}'"><span class="glyphicon glyphicon-profile">Oversikt</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a onclick="location.href= '{% url 'logout' %}'"><span class="glyphicon glyphicon-log-out"></span> Logg ut</a></li>
                    </ul>
                </div>
            </nav>
        {% endif %}
        <div>
          {% block content %}
          {% endblock %}
        </div>
    </body>
</html>
