{% extends 'layout.html' %}

{% load static %}

{% block head %}
		{{block.super}}
		<link rel="stylesheet" href="{% static 'CSSDocs/login.css' %}">
{% endblock %}

{% block content %}
<div class="container">
		<div class="user_card">
				<div class="">
						<h2>MatBit</h2>
				</div>
				<form method="post" id="login-form" class="login-form" name="login_form" onsubmit="return validateLogin();">
						{% csrf_token %}
						<div class="input-group-append">
								<label for="email">Epost</label>
								<input type="email" name="email" class="form-control input_user" placeholder="Epost">
						</div>

						<div class="input-group-append">
								<label for="password">Passord</label>
								<input type="password" name="password" class="form-control input_pass" placeholder="Passord">
						</div>
						
						<div class="input-group-append">
								<p id="error_message" class="error_message"></p>
								<input type="submit" name="submit" id="submit" class="form-submit" value="Logg inn" />
						</div>
				</form>
		</div>
</div>
{% if error_login == True %}
		<script type="text/javascript">
				document.getElementById('error_message').textContent = "Feil brukernavn eller passord";
		</script>
{% endif %}
{% endblock %}
