{% extends 'layout.html' %}

{% load static %}

{% block head %}

    {{ block.super }}

    <link rel="stylesheet" href="{% static 'CSSDocs/mealOverview.css' %}">

{% endblock %}

{% block content %}


        <h1 class="meal-overview-header">
            Middagsoversikt
        </h1>


<div class="flex-container">
        {% for instance in object_list %}
        <div class="url" onclick="location.href= '{% url 'chooseMeal' event_id=instance.event_id %}' ">

                <div class="flex-child">
                    <h3>{{instance.name}}</h3>
                    {% for key, item in available_dict.items %}
                        {% if key == instance.event_id %}
                            <h5>Ledige plasser: {{ item }}/{{instance.capacity}}</h5>
                        {% endif %}
                    {% endfor %}

                    {% for x in mealAllergies %}
                    {{x.ingredient_id}}
                    {% endfor %}
                    <h5>Tidspunkt: {{instance.date}}</h5>
                    <h5>Pris: {{instance.cost}}</h5>
                    <br>
                </div>
            </div>

        {% endfor %}
</div>
{% endblock %}
