{% extends 'layout.html' %}

{% load static %}

{% block head %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'CSSDocs/newMeal.css' %}">
    <link rel="stylesheet" href="{% static 'CSSDocs/registerUser.css' %}">

{% endblock %}

{% block content %}

<h1 class="middag">Opprett din middag her</h1>
<div class="container">
    <div class="signup-content">
        <form method="POST" id="new_arrangement_form" class="new_arrangement_form" name="new_arrangement_form">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    <label for="dinner_name">Arrangementsnavn</label>
                    <input type="text" class="form-input" name="dinner_name" id="dinner_name" />
                </div>
                <div class="form-group">
                    <label for="description">Beskrivelse</label>
                    <input type="text" class="form-input" name="description" id="description" />
                </div>
            </div>

            <div>
                <div class="form-group">
                    <label for="seats">Antall plasser</label>
                    <input type="number" class="form-input" name="seats" id="seats" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="location">Plassering</label>
                    <input type="" class="location" name="location" id="location" />
                </div>
                <div class="form-group form-icon">
                    <label for="cost">Kostnad</label>
                    <input type="number" class="form-input" name="cost" id="cost">
                </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                  <label for="date">Dato</label>
                  <input type="date" class="form-input" name="date" id="date" />
              </div>
              <div class="form-group">
                  <label for="time">Tidspunkt</label>
                  <input type="time" class="form-input" name="time" id="time" />
              </div>
            </div>
            <table class="allergies">
                {% for allergy in allergens %}
                    <tr>
                        <td><label for="allergies-{{allergy.ingredient_id}}"> {{allergy.name}} </label></td>
                        <td><input type="checkbox" id="allergies-{{allergy.ingredient_id}}" name={{allergy.ingredient_id}} value={{allergy.ingredient_id}}></td>
                    </tr>
                {% endfor %}
            </table>

            <input type="submit" name="submit" id="submit" class="form-submit" value="Submit" />

        </form>
    </div>
</div>

{% endblock %}
