{% extends 'layout.html' %}

{% load static %}

{% block head %}
		{{block.super}}

    <link rel="stylesheet" href="{% static 'CSSDocs/profile.css' %}">
        <link rel="stylesheet" href="{% static 'CSSDocs/profile.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>

	function showRatingButtion(id) {

		var button = document.getElementById("rating-"+id);
		if(button.style.display === "none") {
			button.style.display = "initial";
		}
		else {
			button.style.display = "none";
		}
	}

	function createStars() {

		{% for key, value in feedback_dict.items %}
			var stars = {{value.3}}
			stars = parseInt(stars);
			console.log(stars, "g");
			for (let index = 1; index < stars+1; index++) {
				console.log(index, "khwbfw");
				console.log("{{key}}-"+index);
				document.getElementById("{{key}}-"+index).classList.add("checked")

			}


		{% endfor %}

	}

	window.addEventListener('DOMContentLoaded', (event) => {
	createStars();
});



</script>

{% endblock %}

{% block content %}

<div class="allstuff">
		<div class="topstuff">
				<img src="{% static 'images/blank_profile_pic.png' %}"/>

				<div class="userinfo">
						<h2>{{ user.first_name }} {{ user.last_name }} </h2>
						<h3>{{ user.email }}</h3>
						<h3>{{ user.address }}</h3>
						<h3>{{ user.post_code }} {{ user.location }}</h3>
				</div>

		</div>

		<a onclick="location.href='{% url 'editUser' %}'"><button type="button">Endre Bruker</button></a>
		<hr>

		<div class="allergies">

				{% if userAllergies %}
						<h3> Dine allergier </h3>
						<div class="allergyList">
								{% for key, value in userAllergies.items %}
								 		{{ value }},
					 		 	{% endfor %}
						</div>
						<a onclick="location.href = '{% url 'addAllergies' %}'"> <button type="button">Rediger allergier</button></a>
				{% else %}
						<h3> Du har ingen allergier:</h3>
						<a onclick="location.href = '{% url 'addAllergies' %}'"> <button type="button">Legg til allergier</button></a>
				{% endif %}

		</div>
		<hr>

		<div class="arrangeddinners">

				<div class="parent">
						{% if arrangement %}
								<h3> Du har meldt deg på følgende middag: </h3>

								{% for key, name in arrangement.items %}
										<li>
												<div class="flex-child" onclick="location.href= '{% url 'chooseMeal' event_id=key %}' ">
												{% for dinner in name %}
											 			{{ dinner }}
												{% endfor %}
												</div>
										</li>
								{% endfor %}

						{% else %}
								<h3> Du er ikke påmeldt noen middager</h3>

						{% endif %}
				</div>

				<div class="parent">
						{% if hosting %}
								<h3> Du arrangerer disse middagene:  </h3>

								{% for key, name in hosting.items %}
										<li>
											<div class="flex-child" onclick="location.href= '{% url 'chooseMeal' event_id=key %}' ">
											{% for dinner in name %}
													{{ dinner }}
											{% endfor %}
											</div>
										</li>
								{% endfor %}

						{% else %}
								<h3> Du arrangerer ingen middager </h3>

						{% endif %}

				</div>

			<div class="parent" id="rating">
				<h3> Tilbakemeldinger på middager du har arrangert:  </h3>

					{% for key, value in feedback_dict.items %}
					<li>
						<div class="flex-child" onclick="showRatingButtion({{event}})">
							Kommentar fra <b>{{value.1}}</b>
							på middagen <b>{{value.0}}</b>:
							<br>
							{{value.2}}
							<br>
							<br>
							Rating:
							<span class="fa fa-star" id="{{key}}-1"></span>
							<span class="fa fa-star" id="{{key}}-2"></span>
							<span class="fa fa-star" id="{{key}}-3"></span>
							<span class="fa fa-star" id="{{key}}-4"></span>
							<span class="fa fa-star" id="{{key}}-5"></span>
						</div>

					</li>
				{% endfor %}

		</div>
		</div>
</div>

{% endblock %}


