
.allstuff {
 margin-left: 10%;
 margin-right: 10%;
}

.topstuff{
    overflow: hidden;
    content: center;
    text-align: center;
    font-size:0;


}



.topstuff img {
    float: left;
    display: block;
    height : 250;
    width : 300;
    display: inline-block;
    font-size: medium;
    text-align: left;
    border-radius: 10px;


}
.userinfo {
    float: left;
    margin-right: 220px
    text-align : justify;
    padding: 10px;
    display: inline-block;
    font-size: medium;
    text-align: left;
    margin-left: 2%;

    }

.button-style
{
    position: relative;
    left:80px
    display: flex;
    justify-content: left;
    align-items: center;

}
    button {
  padding-top: 5%;
  border: none;
  border-radius: 10px;
  color: black;
  background-color: lightblue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-color : black;
  margin-top: 2%;
}






.parent {

  display: flex;
  flex-direction: column;
  max-width: 80%;
  flex-wrap: wrap;
  margin-top: 2%;


}

.flex-child {

width: 450px;
padding: 10px;
background-color: azure;
border-radius: 15px;
margin: 15px;
padding: 10px;
box-shadow: -1px 6px 16px 0px #8888884d;
transition: transform 0.4s, background-color 0.5s ease;
font-size: 20px;
}



li {
list-style-type: none;
}
.meal-overview-header {
text-align: center;
}

.middag {
text-align: center;
}

.dinners {

list-style-type: none;
}

.allergyList {
font-size: 20px;

}

hr {
 border-top: 2px solid #000;
}

.ratingButton {
    display: none;
}

.checked {
    color: orange;
  }

#events {
    float: left;

}
#rating {
    float: right;

}

